.trangthai {
    margin-left: 50px;
    /* color: rgb(0, 149, 235); */
}
.trangthai0{
    color: rgb(226, 152, 13);
}
.trangthai1{
    color: rgb(9, 199, 41);
}
.trangthai2{
    color: rgb(0, 143, 238);
}
.giaohang{
    color: rgb(0, 0, 0);
    margin-left: 10px;
}
.listorder{
    width: 80%;
    margin: auto;
    margin-top: 80px;
}