.media-left img{
    height: 100px;
    transition: ease 1s;
    width: 100px;
}
.mediaCart{
    width: 450px;
    float: left;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    transition: ease 1s;
    animation-name: open;
    animation-duration: 2s;
    height: 110px;
    box-shadow: -2px 2px 8px silver;
    padding: 8px;
}
@keyframes open {
    from {width: 0px;}
    to {width: 320px;
        transition: ease .5s;
    }
  }
  .swal2-container{
      z-index: 10060;
  }
.cartMain{
    padding: 20px;
}
.cartMain h1{
    display: block;
    width: 80%;
    margin: auto;
}
.headingCart{
    font-size: 110%;
}
.cart{
    /* display: block; */
    margin: auto;
    position: relative;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.media-body{
    margin: 0px 10px;
    transition: ease 1s;
    height: 100px;
    position: relative;
}
.media-body .btn_cart{

    font-size: 12px;
    width: 60px;
    position: absolute;
    bottom: 2px;
    right: 0;
    transition: ease 1s;
}
.media-left img{
    border-radius: 8px;
}
/* .media-body p, .media-body button{
    clear: both;
    float: right;
    margin-left: 50px;
} */
.countCart{
    position: absolute;
}
.media-body p{
  
    margin-bottom: 5px;
}
.mediaCart:hover{
    
    background-color: rgba(224,224,224);
    transition: ease 1s;
    
}
.mediaCart:hover .media-body h4 {
    
    /* background-color: rgba(224,224,224); */
    /* transition: ease 1s; */
    color: rgb(118, 118, 255);
    
}
.btnPrice{
    clear: both;
    display: block;
    margin: auto;
}
.numberCart{
    margin: 6px;
}
.btn_thanhtoan{
    width: 100%;
    bottom: 0;
    position: absolute;
}
.Price h1 {
    display: block;
    text-align: center;
    letter-spacing: 7px;
    font-size: -webkit-xxx-large;
    color: black;
    font-weight: 300;
    
    text-transform: uppercase;
}
.Price {
    height: 100%;
    overflow: scroll;
}
.Price > p {
    margin-left: 10px;
    margin-top: 10px;
    color: darkblue;
}
#phone_number , #address{
    margin: auto;
    width: 90%;
}
.noThingsItem{
    text-align: center;
    font-size: 31px;
}
.row_cart{
    height: 680px;
    /* overflow: scroll; */
    overflow-y: scroll;
}
.btn_thanhtoan {
    border-radius: 0px;
}
.Price_gia{
    text-align: center;
    display: block;
    color: red;
    font-size: 20px;
}
.notyRemoveItem div .notification-parent {
    color: #ffffff;
    background-color: #e00000;
    opacity: .6;
    border-radius: 3px;
    padding: 11px;
    top: 40px;
    margin: 10px;
    width: 160px;
}
@media only screen and (max-width: 990px) {
    .mediaCart{
        width: 100%;
        animation-name: open;
        animation-duration: 2s;
    }
    @keyframes open {
        from {width: 0px;}
        to {width: 100%;
        }
      }
   
}