.media-left img{
    height: 100px;
    transition: ease 1s;
    width: 100px;
}
.mediaCart{
    width: 320px;
    float: left;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    transition: ease 1s;
    animation-name: open;
    animation-duration: 2s;
    height: 100px;
}
@keyframes open {
    from {width: 0px;}
    to {width: 320px;
        transition: ease .5s;
    }
  }
.cartMain{
    padding: 20px;
}
.cartMain h1{
    display: block;
    width: 80%;
    margin: auto;
}
.cart{
    display: block;
    margin: auto;
    position: relative;
    width: 70%;
}
.media-body{
    margin: 0px 10px;
    transition: ease 1s;
    height: 100px;
    position: relative;
}
.media-body button{
/* display: none; */
    font-size: 12px;
    width: 60px;
    position: absolute;
    bottom: 2px;
    right: 0;
    transition: ease 1s;
}
.media-left img{
    border-radius: 8px;
}
.media-body p, .media-body button{
    clear: both;
    float: right;
    margin-left: 50px;
}
.mediaCart:hover{
    
    background-color: rgba(224,224,224);
    transition: ease 1s;
    
}
.mediaCart:hover .media-body h4 {
    
    /* background-color: rgba(224,224,224); */
    /* transition: ease 1s; */
    color: rgb(118, 118, 255);
    
}
.btnPrice{
    clear: both;
    display: block;
    margin: auto;
}
@media only screen and (max-width: 990px) {
    .mediaCart{
        width: 100%;
        animation-name: open;
        animation-duration: 2s;
    }
    @keyframes open {
        from {width: 0px;}
        to {width: 100%;
        }
      }
   
}