@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.productDiv{
  background-color: rgba(192, 192, 192,.2);
  /* height: 100px; */
}
.card {
    margin-bottom: 10px;
  }
  .card img {
    height: 212px;
    /* width: 192px; */
  }
  /* .card-text {
    display: none;
  } */
  .panigation_lable{
    display: block;
    width: 100%;
  }
  .card:hover {
    /* display: block; */
    color: blue;
    background-color: rgba(206, 205, 205,.5);
    transition: ease .5s;
  }
  .panigation_lable ul{
    float: right;
    height: 28px;
    width: 129px;
  }
  .row{
    clear: both;
  }
  .react-notification-root {
    position: fixed;
    top: 100px;
    right: 20px;
    padding: 11px;

    z-index: 100;
  }
  .notification-parent{
    color: #ffffff;
    background-color: #2e8ba6;
    opacity: .6;
    border-radius: 10px;
    padding: 11px;
    top: 40px;
    margin: 10px;
    width: 160px;
  }
  .notification-content{
    width: 160px;
    opacity: 1;
  }
  .price{
    color: red;
    float: right;
    font-size: 22px;
    /* font-weight: 600; */
    font-family: 'Open Sans', sans-serif;
  }
  .formProduct{
    position: relative;

  }
  .radioFillter {
    float: left;
    position: absolute;
  }
  .radioFillter div div{
    float: left;
    
  }
  .search{
    float: right;
    width: 40%;
    transition: ease .5s;
  }
  .navigationZero{
    display: none;
  }
  @media screen and (max-width: 1024px){

    .card img {
      height: 300px;
      /* width: 192px; */
    }
  }
  @media screen and (max-width: 790px){

    .card img {
      height: 300px;
      /* width: 192px; */
    }
    .radioFillter {
      float: left;
      position: relative;
    }
    .search{
      /* float: right; */
      width: 98%;
      transition: ease .5s;
    }
  }